/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/12/2015, 09:58:15 PM
    Author     : tono
*/

  @font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.otf");
  }
  
    .MyriadPro {
  font-family: MyriadPro;
  font-size: 33px;
  }
  
  
  @font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../fonts/MyriadPro-Semibold.otf");
  }
  
    .MyriadPro-Semibold {
  font-family: MyriadPro-Semibold;
  
  }
  
  @font-face {
  font-family: "MyriadPro-Light";
  src: url("../fonts/MyriadPro-Light.otf");
  }
  
    .MyriadPro-Light {
  font-family:MyriadPro-Light;
  
  }
  
   @font-face {
  font-family: "MyriadPro-SemiboldItalic";
  src: url("../fonts/MyriadPro-SemiboldIt_2.otf");
  }
  
    .MyriadPro-SemiboldItalic {
  font-family:MyriadPro-SemiboldItalic;
  
  }