/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/04/2016, 09:26:54 AM
    Author     : tono
*/

@media only screen and (max-width:  1824px) { 
.desc_drones { 
    font-size: 22px;
    }
}

@media only screen and (max-width: 1280px) { 
.desc_drones { 
    font-size: 22px;
    }
}

@media only screen and (max-width: 1224px) { 
.desc_drones { 
    font-size: 22px;
    }
}

@media only screen and (max-width: 1024px) { 
.desc_drones { 
    font-size: 20px;
    }

}
@media only screen and (max-width:768px) { 
.desc_drones { 
    font-size: 22px;
    }
}

@media only screen and (max-width:480px) { 
.desc_drones { 
    font-size: 18px;
    }
}

@media only screen and (max-width:360px) { 
.desc_drones { 
    font-size: 17px;
    }
}

@media only screen and (max-width:320px) { 
.desc_drones { 
    font-size: 15px;
    }

}

//padding_desc
.p_drones { 
    margin-left:-10px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones { 
    margin-left:-48px;
    }
}

@media only screen and (max-width: 1280px) { 
.p_drones { 
    margin-left:-64px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-30px;
    }
}

@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:16px;
    }
}

@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}

@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-74px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones {
    margin-left:-75px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-64px;
    }
}

//p_drones1
.p_drones1 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones1 { 
    margin-left:1px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones1 { 
    margin-left:-11px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones1 { 
    margin-left:21px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones1 { 
    margin-left:64px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones1 { 
    margin-left:70px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones1 { 
    margin-left:-29px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones1 { 
    margin-left:-36px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones1 { 
    margin-left:-28px;
    }

}

//p_drones2
.p_drones2 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones2 { 
    margin-left:65px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones2 { 
    margin-left: 50px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones2 { 
    margin-left:78px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones2 { 
    margin-left:115px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones2 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones2 { 
    margin-left:23px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones2 { 
    margin-left:5px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones2{ 
    margin-left:15px;
    }
}


//p_drones3
.p_drones3 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones3 { 
    margin-left:-22px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones3 { 
    margin-left:-35px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones3 { 
    margin-left:-4px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones3 { 
    margin-left:37px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones3 { 
    margin-left:20px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones3 { 
    margin-left:-47px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones3 { 
    margin-left:-58px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones3 { 
    margin-left:-44px;
    }
}

//p_drones4
.p_drones4 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones4 { 
    margin-left:7px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones4 { 
    margin-left:  -9px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones4 { 
    margin-left:28px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones4 { 
    margin-left:64px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones4 { 
    margin-left:70px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones4 { 
    margin-left:-25px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones4 { 
    margin-left:-36px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones4 { 
    margin-left:-26px;
    }
}

//p_drones5
.p_drones5 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones5 { 
    margin-left:-182px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones5 { 
    margin-left: -199px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones5 { 
    margin-left:-163px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones5 { 
    margin-left:-110px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones5 { 
    margin-left:15px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones5{ 
    margin-left:-180px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones5 { 
    margin-left:-175px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones5 { 
    margin-left:-156px;
    }
}

//p_drones6
.p_drones6 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones6 { 
    margin-left:-43px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones6 { 
    margin-left: -61px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones6 { 
    margin-left:-26px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones6 { 
    margin-left:15px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones6 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones6 { 
    margin-left:-69px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones6 { 
    margin-left:-75px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones6 { 
    margin-left:-64px;
    }
}

//imag_drone_phantom
.img_drone_phantom { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.img_drone_phantom { 
    margin-left:-90px;
    }
}
@media only screen and (max-width: 1280px) { 
.img_drone_phantom { 
    margin-left:-83px;
    }
}
@media only screen and (max-width: 1224px) { 
.img_drone_phantom { 
    margin-left:-50px;
    }
}
@media only screen and (max-width: 1024px) { 
.img_drone_phantom { 
    margin-left:-80px;
    }
}
@media only screen and (max-width:768px) { 
.img_drone_phantom { 
    margin-left:-135px;
    }
}
@media only screen and (max-width:480px) { 
.img_drone_phantom { 
    margin-left:-15px;
    }
}
@media only screen and (max-width:360px) { 
.img_drone_phantom { 
    margin-left:0px;
    }
}
@media only screen and (max-width:320px) { 
.img_drone_phantom { 
    margin-left: 1px;
    }
}

//p_drones7
.p_drones7 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones7 { 
    margin-left:-247px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones7 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones7 { 
    margin-left:-150px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones7 { 
    margin-left:-112px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones7 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones7 { 
    margin-left:-113px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones7 { 
    margin-left:-101px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones7 { 
    margin-left:-99px;
    }
}

//p_drones8
.p_drones8 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones8 { 
    margin-left:-257px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones8 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones8 { 
    margin-left:-158px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones8 { 
    margin-left:-122px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones8 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones8 { 
    margin-left:-123px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones8 { 
    margin-left:-109px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones8 { 
    margin-left:-108px;
    }
}

//p_drones9
.p_drones9 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones9 { 
    margin-left:-147px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones9 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones9 { 
    margin-left:-49px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones9 { 
    margin-left:-23px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones9 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones9 { 
    margin-left:-33px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones9 { 
    margin-left:-21px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones9 { 
    margin-left:-31px;
    }
}

.p_drones10 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones10 { 
    margin-left:-86px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones10 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones10 { 
    margin-left:10px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones10 { 
    margin-left:32px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones10 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones10 { 
    margin-left:16px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones10 { 
    margin-left:16px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones10 { 
    margin-left:12px;
    }
}

.p_drones11 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones11 { 
    margin-left:-78px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones11 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones11 { 
    margin-left:17px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones11 { 
    margin-left:43px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones11 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones11 { 
    margin-left:28px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones11 { 
    margin-left:21px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones11 { 
    margin-left:14px;
    }
}

//p_12
.p_drones12 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones12 { 
    margin-left:-253px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones12 { 
    margin-left:  -247px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones12 { 
    margin-left:-155px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones12 { 
    margin-left:-119px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones12 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones12 { 
    margin-left:-119px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones12 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones12 { 
    margin-left:-105px;
    }
}

//p_13
.p_drones13 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones13 { 
    margin-left:-220px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones13 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones13 { 
    margin-left:-130px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones13 { 
    margin-left:-92px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones13 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones13 { 
    margin-left:-94px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones13 { 
    margin-left:-84px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones13 { 
    margin-left:-84px;
    }
}
//p_14
.p_drones14 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones14 { 
    margin-left:-330px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones14 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones14 { 
    margin-left:-235px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones14 { 
    margin-left:-188px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones14 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones14 { 
    margin-left:-182px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones14 { 
    margin-left:-163px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones14 { 
    margin-left:-157px;
    }
}

//p_15
.p_drones15 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones15 { 
    margin-left:-190px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones15 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones15 { 
    margin-left:-95px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones15 { 
    margin-left:-62px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones15 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones15 { 
    margin-left:-67px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones15 { 
    margin-left:-63px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones15 { 
    margin-left:-62px;
    }
}


//imag_drone_phantom
.img_drone_inspire { 
    padding-left: 240px;
    }
@media only screen and (max-width:  1824px) { 
.img_drone_inspire{ 
    padding-left: 150px;
    }
}
@media only screen and (max-width: 1280px) { 
.img_drone_inspire{ 
    padding-left: 150px;
    }
}
@media only screen and (max-width: 1224px) { 
.img_drone_inspire{ 
    padding-left: 65px;
    }
}
@media only screen and (max-width: 1024px) { 
.img_drone_inspire{ 
    padding-left: 130px;
    }
}
@media only screen and (max-width:768px) { 
.img_drone_inspire{ 
    padding-left: 15px;
    }
}
@media only screen and (max-width:480px) { 
.img_drone_inspire{ 
    padding-left: 15px;
    margin-top: 50px;
    }
}
@media only screen and (max-width:360px) { 
.img_drone_inspire{ 
    padding-left: 5px;
    margin-top: 50px;
    }
}
@media only screen and (max-width:320px) { 
.img_drone_inspire{ 
    padding-left: 15px;
    }
}

//imag_drone_osmo
.img_drone_osmo { 
    margin-left: 5px;
    }
@media only screen and (max-width:  1824px) { 
.img_drone_osmo{ 
    margin-left: -50px;
    }
}
@media only screen and (max-width: 1280px) { 
.img_drone_osmo { 
    margin-left: -50px;
    }
}
@media only screen and (max-width: 1224px) { 
.img_drone_osmo { 
    margin-left: 0px;
    }
}
@media only screen and (max-width: 1024px) { 
.img_drone_osmo { 
    margin-left: -35px;
    }
}
@media only screen and (max-width:768px) { 
.img_drone_osmo { 
    margin-left: 5px;
    }
}
@media only screen and (max-width:480px) { 
.img_drone_osmo { 
    margin-left: 5px;
    margin-top: -40px;
    }
}
@media only screen and (max-width:360px) { 
.img_drone_osmo { 
    margin-left: 5px;
    margin-top: -55px;
    }
}
@media only screen and (max-width:320px) { 
.img_drone_osmo { 
    margin-left: 8px;
    margin-bottom: 20px;
    }
}

//p_16
.p_drones16 { 
    margin-left:-110px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones16 { 
    margin-left:-100px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones16 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones16 { 
    margin-left:-112px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones16 { 
    margin-left:-23px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones16 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones16 { 
    margin-left:-26px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones16 { 
    margin-left:-26px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones16 { 
    margin-left:-27px;
    }
}


//p_17
.p_drones17 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones17{ 
    margin-left:-60px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones17 { 
    margin-left:-60px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones17 { 
    margin-left:-68px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones17 { 
    margin-left:17px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones17 { 
 margin-left:-60px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones17 { 
    margin-left:9px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones17 { 
    margin-left:7px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones17 { 
    margin-left:4px;
    }
}

//p_18
.p_drones18 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones18{ 
    margin-left:-185px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones18 { 
    margin-left:-185px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones18 { 
    margin-left:-193px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones18 { 
    margin-left:-98px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones18 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones18 { 
    margin-left:-95px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones18 { 
    margin-left:-84px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones18 { 
    margin-left:-85px;
    }
}
//p_19
.p_drones19 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones19{ 
    margin-left:-295px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones19 { 
    padding-left: -295px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones19 { 
    margin-left:-300px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones19 { 
    margin-left:-197px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones19 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones19 { 
    margin-left:-181px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones19 { 
    margin-left:-162px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones19 { 
    margin-left:-156px;
    }
}

//p_19
.p_drones20 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones20{ 
    margin-left:-155px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones20 { 
    margin-left:-155px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones20 { 
    margin-left:-162px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones20 { 
    margin-left:-73px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones20 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones20 { 
    margin-left:-68px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones20 { 
    margin-left:-62px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones20 { 
    margin-left:-64px;
    }
}

.p_drones21 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones21{ 
    margin-left:-310px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones21 { 
    margin-left: -315px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones21 { 
    margin-left:-218px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones21 { 
    margin-left:-173px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones21 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones21 { 
    margin-left:-169px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones21 { 
    margin-left:-149px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones21 { 
    margin-left:-141px;
    }
}

//p_22
.p_drones22 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones22{ 
    margin-left:-235px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones22 { 
    margin-left: -239px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones22 { 
    margin-left:-142px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones22 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones22 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones22 { 
    margin-left:-107px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones22 { 
    margin-left:-88px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones22 { 
    margin-left:-91px;
    }
}
//p_23
.p_drones23 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones23{ 
    margin-left:-140px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones23 { 
    margin-left: -145px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones23 { 
    margin-left:-47px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones23 { 
    margin-left:-19px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones23 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones23 { 
    margin-left:-28px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones23 { 
    margin-left:-13px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones23 { 
    margin-left:-26px;
    }
}

//24
.p_drones24 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones24{ 
    margin-left:-125px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones24 { 
    margin-left:  -128px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones24 { 
    margin-left:-31px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones24 { 
    margin-left:-3px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones24 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones24 { 
    margin-left:-15px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones24 { 
    margin-left:-1px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones24 { 
    margin-left:-14px;
    }
}

//25
.p_drones25 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones25{ 
    margin-left:-110px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones25 { 
    margin-left:  -118px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones25 { 
    margin-left:-20px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones25 { 
    margin-left:7px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones25 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones25 { 
    margin-left:-5px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones25 { 
    margin-left:9px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones25 { 
    margin-left:-7px;
    }
}
//26
.p_drones26 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones26{ 
    margin-left:-140px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones26 { 
    margin-left:  -146px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones26 { 
    margin-left:-50px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones26 { 
    margin-left:-17px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones26 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones26 { 
    margin-left:-26px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones26 { 
    margin-left:-14px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones26 { 
    margin-left:-28px;
    }
}
//27
.p_drones27 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones27{ 
    margin-left:-221px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones27 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones27 { 
    margin-left:-128px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones27 { 
    margin-left:-90px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones27 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones27 { 
    margin-left:-92px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones27 { 
    margin-left:-76px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones27 { 
    margin-left:-81px;
    }
}
//28
.p_drones28 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones28{ 
    margin-left:-327px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones28 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones28 { 
    margin-left:-235px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones28 { 
    margin-left:-188px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones28 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones28 { 
    margin-left:-181px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones28 { 
    margin-left:-158px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones28 { 
    margin-left:-156px;
    }
}

.p_drones29 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones29{ 
    margin-left:-188px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones29 { 
    margin-left: -195px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones29 { 
    margin-left:-96px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones29 { 
    margin-left:-62px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones29 { 
    margin-left:-190px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones29 { 
    margin-left:-67px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones29 { 
    margin-left:-50px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones29 { 
    margin-left:-63px;
    }
}
//30
.p_drones30 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones30{ 
    margin-left:-250px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones30 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones30 { 
    margin-left:-156px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones30 { 
    margin-left:-116px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones30 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones30 { 
    margin-left:-115px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones30 { 
    margin-left:-95px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones30 { 
    margin-left:-101px;
    }
}
//camara_hexacomptero
.camara_hexa { 
    margin-left:100px;
    }
@media only screen and (max-width:  1824px) { 
.camara_hexa { 
    margin-left:150px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1280px) { 
.camara_hexa { 
    margin-left:86px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1224px) { 
.camara_hexa { 
    margin-left:125px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1024px) { 
.camara_hexa { 
    margin-left:106px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:768px) { 
.camara_hexa { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:480px) { 
.camara_hexa { 
    margin-left:64px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:360px) { 
.camara_hexa { 
    margin-left:47px;
    margin-bottom: 20px;
    margin-top: -20px;
    }
}
@media only screen and (max-width:320px) { 
.camara_hexa { 
    margin-left:34px;
    margin-bottom: 20px;
    }
}
//camara_hexacomptero
.camara_x3 { 
    margin-left:125px;
    }
@media only screen and (max-width:  1824px) { 
.camara_x3 { 
    margin-left:140px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1280px) { 
.camara_x3 { 
    margin-left:106px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1224px) { 
.camara_x3 { 
    margin-left:113px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1024px) { 
.camara_x3 { 
    margin-left:103px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:768px) { 
.camara_x3 { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:480px) { 
.camara_x3 { 
    margin-left:52px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:360px) { 
.camara_x3 { 
    margin-left:34px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:320px) { 
.camara_x3 { 
    margin-left:26px;
    margin-bottom: 20px;
    }
}
//camara_hexacomptero
.camara_x32 { 
    margin-left:125px;
    }
@media only screen and (max-width:  1824px) { 
.camara_x32 { 
    margin-left:-277px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1280px) { 
.camara_x32 { 
    margin-left:-274px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1224px) { 
.camara_x32 { 
    margin-left:-286px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1024px) { 
.camara_x32 { 
    margin-left:-174px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:768px) { 
.camara_x32 { 
    margin-left:-275px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:480px) { 
.camara_x32 { 
    margin-left:-91px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:360px) { 
.camara_x32 { 
    margin-left:-35px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:320px) { 
.camara_x32 { 
    margin-left:-19px;
    margin-bottom: 20px;
    }
}

//gopro
.go_pro { 
    margin-left:105px;
    }
@media only screen and (max-width:  1824px) { 
.go_pro { 
    margin-top: 50px;
    margin-left:33px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1280px) { 
.go_pro { 
    margin-left:29px;
    }
}
@media only screen and (max-width: 1224px) { 
.go_pro { 
    margin-left:51px;
    }
}
@media only screen and (max-width: 1024px) { 
.go_pro { 
    margin-left:129px;
    }
}
@media only screen and (max-width:768px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width:480px) { 
.go_pro { 
    margin-left:-100px;
    margin-top: -10px
    
    }
}
@media only screen and (max-width:360px) { 
.go_pro { 
    margin-left:-43px;
    margin-top: -10px;
    }
}
@media only screen and (max-width:320px) { 
.go_pro { 
    margin-left:-2px;
    text-align: center;
    margin-top: -20px;
    
    }
}

.text_phantom{
    padding-top: 25px;
}
@media only screen and (max-width:  1824px) { 
.text_phantom{
    margin-top:  -20px;
}
}
@media only screen and (max-width: 1280px) { 
.text_phantom{
    margin-top:  -65px;
}
}
@media only screen and (max-width: 1224px) { 
.text_phantom{
    margin-top:  -65px;
}
}
@media only screen and (max-width: 1024px) { 
.text_phantom{
    margin-top:  -65px;
}
}
@media only screen and (max-width:768px) { 
.text_phantom{
    margin-top:  -65px;
}
}
@media only screen and (max-width:480px) { 
.text_phantom{
    margin-top:  10px;
}
}
@media only screen and (max-width:360px) { 
.text_phantom{
    margin-top:  0px;
}
}
@media only screen and (max-width:320px) { 
.text_phantom{
    margin-top:  -15px;
}
}


.section_padding_5 { 
    padding-top: 140px;
    padding-bottom: 65px;
    display: block;
    }
    
.section_padding_6 { 
    padding-top: 50px;
    padding-bottom: -5px;
    display: block;
    }  
 .section_padding_8 { 
    padding-top: 50px;
    padding-bottom: 60px;
    display: block;
    }  
   
.section_padding_7 { 
    padding-top: 90px;
    padding-bottom: 60px;
    display: block;
    }
    
    

.text_hexa{
    padding-top: 25px;
}
@media only screen and (max-width:  1824px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 1280px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 1224px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 1024px) { 
.text_hexa{
    margin-top:  10px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width:768px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width:480px) { 
.text_hexa{
    margin-top:  15px;
    margin-bottom: -50px;
}
}
@media only screen and (max-width:360px) { 
.text_hexa{
    margin-top:  20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width:320px) { 
.text_hexa{
 
      margin-top:  40px;
    margin-bottom: 30px;
}
}

.text_osmo{
    
    padding-top: 25px;
}
@media only screen and (max-width:  1824px) { 
.text_osmo{
    margin-top: -30px;
    margin-bottom: 60px;
}
}
@media only screen and (max-width: 1280px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width: 1224px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width: 1024px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width:768px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width:480px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width:360px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width:320px) { 
.text_osmo{
    padding-top: 25px;
}
}

.image_drones{
    
    height: 300px;
}
@media only screen and (max-width:  1824px) { 
.image_drones{
    height: 300px;
   }
}
@media only screen and (max-width: 1280px) { 
.image_drones{
    height: 300px;
}
}
@media only screen and (max-width: 1224px) { 
.image_drones{
    height: 300px;
}
}
@media only screen and (max-width: 1024px) { 
.image_drones{
    height: 200px;
}
}
@media only screen and (max-width:768px) { 
.image_drones{
    height: 250px;
}
}
@media only screen and (max-width:480px) { 
.image_drones{
    height: 200px;
}
}
@media only screen and (max-width:360px) { 
.image_drones{
    height: 200px;
}
}
@media only screen and (max-width:320px) { 
.image_drones{
   height: 200px;
}
}



//

.drone_phantom{
    
    margin-left: 100px;
}
@media only screen and (max-width:  1824px) { 
.drone_phantom{
    
    margin-left: 100px;
}
}
@media only screen and (max-width: 1280px) { 
.drone_phantom{
    
   margin-left: 100px;
}
}
@media only screen and (max-width: 1224px) { 
.drone_phantom{
    
   margin-left: 100px;
}
}
@media only screen and (max-width: 1024px) { 
.drone_phantom{
    
  margin-left: 80px;
}
}

.section_padding_portafolio { 
    margin-top: 110px;
     }
     
.section_padding_portafolio_2 { 
    margin-top: 70px;
     }     

 
div.sidebar-link:hover{
    background-color: #f0f0f0;
}


     
div.sidebar-link2:hover{
    background-color: #868686;
    height: 100%;
}


//limux

.texto_limux { 
    size:17px;
    color:#545554;
    font-size: 24px;
    }
@media only screen and (max-width:  1824px) { 
.texto_limux { 
    size:17px;
    color:#545554;
    font-size: 24px;
    }
}
@media only screen and (max-width: 1280px) { 
.texto_limux { 
    size:17px;
    color:#545554;
    font-size: 24px;
    }
}
@media only screen and (max-width: 1224px) { 
.texto_limux { 
    size:17px;
    color:#545554;
    font-size: 24px;
    }
}
@media only screen and (max-width: 1024px) { 
.texto_limux { 
    size:17px;
    color:#545554;
    font-size: 24px;
    }
}
@media only screen and (max-width:768px) { 
.texto_limux { 
    size:17px;
    color:#545554;
    font-size: 24px;
    }
}
@media only screen and (max-width:480px) { 
.texto_limux { 
    size:17px;
    color:#545554;
    font-size: 22px;
    }
}
@media only screen and (max-width:360px) { 
.texto_limux { 
    size:17px;
    color:#545554;
    font-size: 21px;
    }
}
@media only screen and (max-width:320px) { 
.texto_limux { 
    size:17px;
    color:#545554;
    font-size: 18px;
    }
}

//gopro

.texto_gopro {
    
    size:17px;
    color:#545554;
    font-size: 24px;
    }
@media only screen and (max-width:  1824px) { 
.texto_gopro { 
    size:17px;
    color:#545554;
    font-size: 24px;
    }
}
@media only screen and (max-width: 1280px) { 
.texto_gopro { 
    size:17px;
    color:#545554;
    font-size: 24px;
    }
}
@media only screen and (max-width: 1224px) { 
.texto_gopro { 
    size:17px;
    color:#545554;
    font-size: 24px;
    }
}
@media only screen and (max-width: 1024px) { 
.texto_gopro { 
    size:17px;
    color:#545554;
    font-size: 24px;
    }
}
@media only screen and (max-width:768px) { 
.texto_gopro { 
    size:17px;
    color:#545554;
    font-size: 24px;
    }
}
@media only screen and (max-width:480px) { 
.texto_gopro { 
    size:17px;
    color:#545554;
    font-size: 24px;
    }
}
@media only screen and (max-width:360px) { 
.texto_gopro { 
    size:17px;
    color:#545554;
    font-size: 23px;
    }
}
@media only screen and (max-width:320px) { 
.texto_gopro { 
    size:17px;
    color:#545554;
    font-size: 21px;
    }
}



.section_padding_portafolio3 { 
    margin-top: 40px;
     }

@media only screen and (max-width:  1824px) { 
.section_padding_portafolio3 { 
    margin-top: 110px;
     }
}
@media only screen and (max-width: 1280px) { 
.section_padding_portafolio3 { 
    margin-top: 110px;
     }
}
@media only screen and (max-width: 1224px) { 
.section_padding_portafolio3 { 
    margin-top: 110px;
     }
}
@media only screen and (max-width: 1024px) { 
.section_padding_portafolio3 { 
    margin-top: 110px;
     }
}
@media only screen and (max-width:768px) { 
.section_padding_portafolio3 { 
    margin-top: 120px;
     }
}
@media only screen and (max-width:480px) { 
.section_padding_portafolio3 { 
    margin-top: 120px;
     }
}
@media only screen and (max-width:360px) { 
.section_padding_portafolio3 { 
    margin-top: 120px;
     }
}
@media only screen and (max-width:320px) { 
.section_padding_portafolio3 { 
    margin-top: 120px;
     }
}



//texto_sel_drone
.texto_sel_drone { 
  text-align: center;
  font-size: 33px;
}
@media only screen and (max-width:  1824px) { 
.texto_sel_drone { 
  text-align: center;
  font-size: 33px;
     }
}
@media only screen and (max-width: 1280px) { 
.texto_sel_drone { 
  text-align: center;
  font-size: 33px;
     }
}
@media only screen and (max-width: 1224px) { 
.texto_sel_drone { 
  text-align: center;
  font-size: 33px;
     }
}
@media only screen and (max-width: 1024px) { 
.texto_sel_drone { 
  text-align: center;
  font-size: 33px;
     }
}
@media only screen and (max-width:768px) { 
.texto_sel_drone { 
  text-align: center;
  font-size: 33px;
     }
}
@media only screen and (max-width:480px) { 
.texto_sel_drone { 
  text-align: center;
  font-size: 30px;
     }
}
@media only screen and (max-width:360px) { 
.texto_sel_drone { 
  text-align: center;
  font-size: 26px;
     }
}
@media only screen and (max-width:320px) { 
.texto_sel_drone { 
  text-align: center;
  font-size: 24px;
     }
}



//texto_drones_portafolio
.texto_drones_portafolio { 
 text-align: center;
 font-size: 39px;
}
@media only screen and (max-width:  1824px) { 
.texto_drones_portafolio { 
 text-align: center;
 font-size: 39px;
}
}
@media only screen and (max-width: 1280px) { 
.texto_drones_portafolio { 
 text-align: center;
 font-size: 39px;
}
}
@media only screen and (max-width: 1224px) { 
.texto_drones_portafolio { 
 text-align: center;
 font-size: 39px;
}
}
@media only screen and (max-width: 1024px) { 
.texto_drones_portafolio { 
 text-align: center;
 font-size: 39px;
}
}
@media only screen and (max-width:768px) { 
.texto_drones_portafolio { 
 text-align: center;
 font-size: 39px;
}
}
@media only screen and (max-width:480px) { 
.texto_drones_portafolio { 
 text-align: center;
 font-size: 30px;
}
}
@media only screen and (max-width:360px) { 
.texto_drones_portafolio { 
 text-align: center;
 font-size: 25px;
}
}
@media only screen and (max-width:320px) { 
.texto_drones_portafolio { 
 text-align: center;
 font-size: 25px;
}
}

//img_phantom1
.img_phantom1 { 
 margin-top: 40px;
}
@media only screen and (max-width:  1824px) { 
.img_phantom1 { 
 margin-top: 40px;
}
}
@media only screen and (max-width: 1280px) { 
.img_phantom1 { 
 margin-top: 40px;
}
}
@media only screen and (max-width: 1224px) { 
.img_phantom1 { 
 margin-top: 40px;
}
}
@media only screen and (max-width: 1024px) { 
.img_phantom1 { 
 margin-top: 40px;
}
}
@media only screen and (max-width:768px) { 
.img_phantom1 { 
 margin-top: 40px;
}
}
@media only screen and (max-width:480px) { 
.img_phantom1 { 
  margin-top: 40px;
 width: 40%;
 height: 40%;
 margin-left: 8%;
}
}
@media only screen and (max-width:360px) { 
.img_phantom1 { 
  margin-top: 40px;
 width: 40%;
 height: 40%;
 margin-left: 8%;
    
}
}
@media only screen and (max-width:320px) { 
.img_phantom1 { 
 margin-top: 40px;
 width: 40%;
 height: 40%;
 margin-left: 8%;
     
}
}


//img_phantom1
.img_inspire { 
 margin-top: 40px;
}
@media only screen and (max-width:  1824px) { 
.img_inspire { 
 margin-top: 40px;
}
}
@media only screen and (max-width: 1280px) { 
.img_inspire { 
 margin-top: 40px;
}
}
@media only screen and (max-width: 1224px) { 
.img_inspire { 
 margin-top: 40px;
}
}
@media only screen and (max-width: 1024px) { 
.img_inspire { 
 margin-top: 40px;
}
}
@media only screen and (max-width:768px) { 
.img_inspire { 
 margin-top: 40px;
}
}
@media only screen and (max-width:480px) { 
.img_inspire { 
 margin-top: -125px;
 float: right;
 width: 40%;
 height: 40%;
 margin-right: 7%;
}
}
@media only screen and (max-width:360px) { 
.img_inspire { 
  margin-top: -125px;
 float: right;
 width: 40%;
 height: 40%;
 margin-right: 7%;
}
}
@media only screen and (max-width:320px) { 
.img_inspire { 
 margin-top: -125px;
 float: right;
 width: 40%;
 height: 40%;
 margin-right: 7%;
}
}

//img_osmo
.img_osmo { 
 margin-top: 40px;
}
@media only screen and (max-width:  1824px) { 
.img_osmo { 
 margin-top: 40px;
}
}
@media only screen and (max-width: 1280px) { 
.img_osmo { 
 margin-top: 40px;
}
}
@media only screen and (max-width: 1224px) { 
.img_osmo { 
 margin-top: 40px;
}
}
@media only screen and (max-width: 1024px) { 
.img_osmo { 
 margin-top: 40px;
}
}
@media only screen and (max-width:768px) { 
.img_osmo { 
 margin-top: 40px;
}
}
@media only screen and (max-width:480px) { 
.img_osmo { 
 margin-top: 35px;
 float: left;
 width: 40%;
 height: 40%;
 margin-left: 8%;
}
}
@media only screen and (max-width:360px) { 
.img_osmo{ 
  margin-top: 18px;
 float: left;
 width: 40%;
 height: 40%;
 margin-left: 8%;
}
}
@media only screen and (max-width:320px) { 
.img_osmo { 
 margin-top: 12px;
 float: left;
 width: 40%;
 height: 40%;
 margin-left: 7%;
}
}



//img_hexa
.img_hexa { 
 margin-top: 40px;
}
@media only screen and (max-width:  1824px) { 
.img_hexa { 
 margin-top: 40px;
}
}
@media only screen and (max-width: 1280px) { 
.img_hexa { 
 margin-top: 40px;
}
}
@media only screen and (max-width: 1224px) { 
.img_hexa { 
 margin-top: 40px;
}
}
@media only screen and (max-width: 1024px) { 
.img_hexa { 
 margin-top: 40px;
}
}
@media only screen and (max-width:768px) { 
.img_hexa { 
 margin-top: 40px;
}
}
@media only screen and (max-width:480px) { 
.img_hexa { 
  margin-top: 32px;
 float: left;
 width: 40%;  
 height: 40%;
 margin-left: 7%;
}
}
@media only screen and (max-width:360px) { 
.img_hexa{ 
 margin-top: 32px;
 float: left;
 width: 40%;  
 height: 40%;
 margin-left: 7%;
}
}
@media only screen and (max-width:320px) { 
.img_hexa { 
 margin-top: 25px;
 float: left;
 width: 40%;  
 height: 40%;
 margin-left: 7%;
}
}


//img_phantom1
.img_Heigth_drones { 
 
}
@media only screen and (max-width:  1824px) { 
.img_Heigth_drones { 
 height: 150px;
}
}
@media only screen and (max-width: 1280px) { 
.img_Heigth_drones { 
 height: 150px;
}
}
@media only screen and (max-width: 1224px) { 
.img_Heigth_drones { 
 height: 150px;
}
}
@media only screen and (max-width: 1024px) { 
.img_Heigth_drones { 
 height: 150px;
}
}
@media only screen and (max-width:768px) { 
.img_Heigth_drones { 
 height: auto;
}
}
@media only screen and (max-width:480px) { 
.img_Heigth_drones { 
 height: auto;
}
}
@media only screen and (max-width:360px) { 
.img_Heigth_drones { 
 height: auto;
}
}
@media only screen and (max-width:320px) { 
.img_Heigth_drones { 
 height: auto;
}
}

//img_pos_phantom1
.img_top_inspire { 
 margin-top: 40px;
}
@media only screen and (max-width:  1824px) { 
.img_top_inspire  { 
 
}
}
@media only screen and (max-width: 1280px) { 
.img_top_inspire  { 
 
}
}
@media only screen and (max-width: 1224px) { 
.img_top_inspire  { 
 
}
}
@media only screen and (max-width: 1024px) { 
.img_top_inspire  { 
 
}
}
@media only screen and (max-width:768px) { 
.img_top_inspire  { 
 margin-top: 40px;
}
}
@media only screen and (max-width:480px) { 
.img_top_inspire  { 
 margin-top: -50px;
 margin-bottom: 18px;
 
}
}
@media only screen and (max-width:360px) { 
.img_top_inspire { 
  margin-top: -27px;
 
}
}
@media only screen and (max-width:320px) { 
.img_top_inspire  { 
 margin-top: -15px;

}
}

//img_phantom1
.img_Heigth_hexa{ 
 
}
@media only screen and (max-width:  1824px) { 
.img_Heigth_hexa { 
 height: 150px;
}
}
@media only screen and (max-width: 1280px) { 
.img_Heigth_hexa { 
 height: 150px;
}
}
@media only screen and (max-width: 1224px) { 
.img_Heigth_hexa { 
 height: 150px;
}
}
@media only screen and (max-width: 1024px) { 
.img_Heigth_hexa { 
 height: 150px;
}
}
@media only screen and (max-width:768px) { 
.img_Heigth_hexa { 
 height: auto;
}
}
@media only screen and (max-width:480px) { 
.img_Heigth_hexa { 
 height: 110px;
}
}
@media only screen and (max-width:360px) { 
.img_Heigth_hexa { 
 height: 100px;
}
}
@media only screen and (max-width:320px) { 
.img_Heigth_hexa { 
 height: 90px;
}
}

//img_pos_phantom1
.img_top_osmo { 
 margin-top: 40px;
}
@media only screen and (max-width:  1824px) { 
.img_top_osmo  { 
 
}
}
@media only screen and (max-width: 1280px) { 
.img_top_osmo  { 
 
}
}
@media only screen and (max-width: 1224px) { 
.img_top_osmo  { 
 
}
}
@media only screen and (max-width: 1024px) { 
.img_top_osmo  { 
 
}
}
@media only screen and (max-width:768px) { 
.img_top_osmo  { 
 margin-top: 40px;
}
}
@media only screen and (max-width:480px) { 
.img_top_osmo  { 
 margin-top: -3px;
 margin-bottom: 7px;
 
}
}
@media only screen and (max-width:360px) { 
.img_top_osmo { 
  margin-top: 14px;
  margin-bottom: 8px;
 
}
}
@media only screen and (max-width:320px) { 
.img_top_osmo  { 
 margin-top: 10px;
 margin-bottom: 19px;

}
}

//img_top_hexa
.img_top_hexa { 
 margin-top: 40px;
}
@media only screen and (max-width:  1824px) { 
.img_top_hexa  { 
 
}
}
@media only screen and (max-width: 1280px) { 
.img_top_hexa  { 
 
}
}
@media only screen and (max-width: 1224px) { 
.img_top_hexa  { 
 
}
}
@media only screen and (max-width: 1024px) { 
.img_top_hexa { 
 
}
}
@media only screen and (max-width:768px) { 
.img_top_hexa  { 
 margin-top: 40px;
}
}
@media only screen and (max-width:480px) { 
.img_top_hexa  { 
 margin-top: -3px;
 margin-bottom: 7px;
 
}
}
@media only screen and (max-width:360px) { 
.img_top_hexa { 
  margin-top: -3px;
  margin-bottom: 2px;
 
}
}
@media only screen and (max-width:320px) { 
.img_top_hexa  { 
 margin-top: -2px;
 margin-bottom: 9px;

}
}


#imagenes .small-box2{
    max-height: 200px;
    display: block;
    overflow: hidden;
    -webkit-backface-visibility:hidden;
}

.small-box2 img.img-responsive {
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    max-width: 100%;
    
    -webkit-backface-visibility:hidden;
    transform: translateX(-20px) translateY(-20px);
    -webkit-transform: translateX(-20px) translateY(-20px);
    -moz-transform: translateX(-20px) translateY(-20px);
    -ms-transform: translateX(-20px) translateY(-20px);
    -o-transform: translateX(-20px) translateY(-20px);
}

.small-box .hover-bg{
    position: relative;

}

.nopadding {
    padding: 0;
    margin-top: -1px;
    
}