/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/04/2016, 09:26:54 AM
    Author     : tono
*/

@media only screen and (max-width:  1824px) { 
.desc_drones { 
    font-size: 22px;
    }

}

@media only screen and (max-width: 1280px) { 
.section-padding2 { 
    padding: 190px 0 200px 0;
    display: block;
    }

}

@media only screen and (max-width: 1224px) { 
.section-padding2 { 
    padding: 190px 0 200px 0;
    display: block;
    }
}
@media only screen and (max-width: 1024px) { 
.section-padding2 { 
    padding: 190px 0 200px 0;
    display: block;
    }
}
@media only screen and (max-width:768px) { 
.section-padding2 { 
    padding: 40px 0 40px 0;
    display: block;
    }

}
@media only screen and (max-width:480px) { 
.section-padding2 { 
    padding: 40ṕx 0 60px 0;
    display: block;
    }


}
@media only screen and (max-width:360px) { 
.section-padding2 { 
    padding: 40px 0 40px 0;
    display: block;
    }



}
@media only screen and (max-width:320px) { 
.section-padding2 { 
    padding: 40px 0 40px 0;
    display: block;
    }
}

//padding_desc
.p_drones { 
    margin-left:-10px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones { 
    margin-left:15px;
    }

}

@media only screen and (max-width: 1280px) { 
.p_drones { 
    margin-left:15px;
    }
}



@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:15px;
    }



}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:15px;
    }

}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }


}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }



}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }




}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }

}

//p_drones1
.p_drones1 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones1 { 
    margin-left:70px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones1 { 
    margin-left:70px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones1 { 
    margin-left:70px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones1 { 
    margin-left:70px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones1 { 
    margin-left:70px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones1 { 
    margin-left:70px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones1 { 
    margin-left:70px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones1 { 
    margin-left:70px;
    }

}

//p_drones2
.p_drones2 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones2 { 
    margin-left:150px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones2 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones2 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones2 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones2 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones2 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones2 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones2{ 
    margin-left:-105px;
    }

}

//p_drones3
.p_drones3 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones3 { 
    margin-left:20px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones3 { 
    margin-left:20px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones3 { 
    margin-left:20px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones3 { 
    margin-left:20px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones3 { 
    margin-left:20px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones3 { 
    margin-left:20px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones3 { 
    margin-left:25px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones3 { 
    margin-left:25px;
    }
}

//p_drones4
.p_drones4 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones4 { 
    margin-left:70px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones4 { 
    padding-left: 70px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones4 { 
    margin-left:70px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones4 { 
    margin-left:70px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones4 { 
    margin-left:70px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones4 { 
    margin-left:70px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones4 { 
    margin-left:20px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones4 { 
    margin-left:20px;
    }
}

//p_drones5
.p_drones5 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones5 { 
    margin-left:-120px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones5 { 
    padding-left: -120px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones5 { 
    margin-left:-120px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones5 { 
    margin-left:-120px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones5 { 
    margin-left:15px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones5{ 
    margin-left:15px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones5 { 
    margin-left:15px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones5 { 
    margin-left:15px;
    }
}

//p_drones6
.p_drones6 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones6 { 
    margin-left:15px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones6 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones6 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones6 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones6 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones6 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones6 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones6 { 
    margin-left:-105px;
    }
}

//imag_drone_phantom
.img_drone_phantom { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.img_drone_phantom { 
    margin-left:-135px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

//p_drones7
.p_drones7 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones7 { 
    margin-left:-240px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

//p_drones8
.p_drones8 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones8 { 
    margin-left:-245px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

//p_drones9
.p_drones9 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones9 { 
    margin-left:-125px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

.p_drones10 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones10 { 
    margin-left:-80px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

.p_drones11 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones11 { 
    margin-left:-30px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

//p_12
.p_drones12 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones12 { 
    margin-left:-290px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

//p_13
.p_drones13 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones13 { 
    margin-left:-220px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}
//p_14
.p_drones14 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones14 { 
    margin-left:-330px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

//p_15
.p_drones15 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones15 { 
    margin-left:-190px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}


//imag_drone_phantom
.img_drone_inspire { 
    padding-left: 240px;
    }
@media only screen and (max-width:  1824px) { 
.img_drone_inspire{ 
    padding-left: 240px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

//imag_drone_osmo
.img_drone_osmo { 
    margin-left: 5px;
    }
@media only screen and (max-width:  1824px) { 
.img_drone_osmo{ 
    margin-left: -50px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

//p_16
.p_drones16 { 
    margin-left:-110px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones16 { 
    margin-left:-100px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones16 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones16 { 
    margin-left:-100px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones16 { 
    margin-left:-100px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones16 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones16 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones16 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones16 { 
    margin-left:-105px;
    }
}


//p_17
.p_drones17 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones17{ 
    margin-left:-60px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones17 { 
    margin-left:-60px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones17 { 
    margin-left:-60px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones17 { 
    margin-left:-60px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones17 { 
 margin-left:-60px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones17 { 
    margin-left:-60px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones17 { 
    margin-left:-60px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones17 { 
    margin-left:-60px;
    }
}

//p_18
.p_drones18 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones18{ 
    margin-left:-185px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones18 { 
    margin-left:-185px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones18 { 
    margin-left:-185px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones18 { 
    margin-left:-185px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones18 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones18 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones18 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones18 { 
    margin-left:-105px;
    }
}
//p_19
.p_drones19 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones19{ 
    margin-left:-295px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones19 { 
    padding-left: -295px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones19 { 
    margin-left:-295px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones19 { 
    margin-left:-295px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones19 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones19 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones19 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones19 { 
    margin-left:-105px;
    }
}

//p_19
.p_drones20 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones20{ 
    margin-left:-155px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones20 { 
    margin-left:-155px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones20 { 
    margin-left:-155px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones20 { 
    margin-left:-155px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones20 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones20 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones20 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones20 { 
    margin-left:-105px;
    }
}

.p_drones21 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones21{ 
    margin-left:-310px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

//p_22
.p_drones22 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones22{ 
    margin-left:-235px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}
//p_23
.p_drones23 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones23{ 
    margin-left:-140px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

//24
.p_drones24 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones24{ 
    margin-left:-65px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

//25
.p_drones25 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones25{ 
    margin-left:-20px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -20px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-20px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-20px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}
//25
.p_drones26 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones26{ 
    margin-left:-90px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}
//27
.p_drones27 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones27{ 
    margin-left:-225px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}
//28
.p_drones28 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones28{ 
    margin-left:-330px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

.p_drones29 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones29{ 
    margin-left:-195px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -195px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-190px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-190px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}
//camara_hexacomptero
.camara_hexa { 
    margin-left:125px;
    }
@media only screen and (max-width:  1824px) { 
.camara_hexa { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}
//camara_hexacomptero
.camara_x3 { 
    margin-left:125px;
    }
@media only screen and (max-width:  1824px) { 
.camara_x3 { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}
//camara_hexacomptero
.camara_x32 { 
    margin-left:125px;
    }
@media only screen and (max-width:  1824px) { 
.camara_x32 { 
    margin-left:-275px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

//gopro
.go_pro { 
    margin-left:105px;
    }
@media only screen and (max-width:  1824px) { 
.go_pro { 
    margin-top: 50px;
    margin-left:30px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1280px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width: 1224px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width: 1024px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width:768px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width:480px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width:360px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}

.text_phantom{
    padding-top: 25px;
}
@media only screen and (max-width:  1824px) { 
.text_phantom{
    margin-top:  -20px;
}
}
@media only screen and (max-width: 1280px) { 
.text_phantom{
    margin-top:  -65px;
}
}
@media only screen and (max-width: 1224px) { 
.text_phantom{
    margin-top:  -65px;
}
}
@media only screen and (max-width: 1024px) { 
.text_phantom{
    margin-top:  -65px;
}
}
@media only screen and (max-width:768px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width:480px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width:360px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-105px;
    }
}


.section_padding_5 { 
    padding-top: 140px;
    padding-bottom: 50px;
    display: block;
    }
    
.section_padding_6 { 
    padding-top: 50px;
    padding-bottom: 40px;
    display: block;
    }  
  
.section_padding_7 { 
    padding-top: 90px;
    padding-bottom: -100px;
    display: block;
    }
    
    

.text_hexa{
    padding-top: 25px;
}
@media only screen and (max-width:  1824px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 1280px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 1224px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 1024px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width:768px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width:480px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width:360px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width:320px) { 
.text_hexa{
 
      margin-top:  -20px;
    margin-bottom: 30px;
}
}

.text_osmo{
    
    padding-top: 25px;
}
@media only screen and (max-width:  1824px) { 
.text_osmo{
    margin-top: -30px;
    margin-bottom: 60px;
}
}
@media only screen and (max-width: 1280px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width: 1224px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width: 1024px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width:768px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width:480px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width:360px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width:320px) { 
.text_osmo{
    padding-top: 25px;
}
}