/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/04/2016, 09:26:54 AM
    Author     : tono
*/

@media only screen and (max-width:  1824px) { 
.desc_drones { 
    font-size: 22px;
    }
}

@media only screen and (max-width: 1280px) { 
.desc_drones { 
    font-size: 22px;
    }
}

@media only screen and (max-width: 1224px) { 
.desc_drones { 
    font-size: 22px;
    }
}

@media only screen and (max-width: 1024px) { 
.desc_drones { 
    font-size: 22px;
    }

}
@media only screen and (max-width:768px) { 
.desc_drones { 
    font-size: 22px;
    }
}

@media only screen and (max-width:480px) { 
.desc_drones { 
    font-size: 20px;
    }
}

@media only screen and (max-width:360px) { 
.desc_drones { 
    font-size: 16px;
    }
}

@media only screen and (max-width:320px) { 
.desc_drones { 
    font-size: 14px;
    }

}

//padding_desc
.p_drones { 
    margin-left:-10px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones { 
    margin-left:15px;
    }
}

@media only screen and (max-width: 1280px) { 
.p_drones { 
    margin-left:15px;
    }
}



@media only screen and (max-width: 1224px) { 
.p_drones { 
    margin-left:15px;
    }
}

@media only screen and (max-width: 1024px) { 
.p_drones { 
    margin-left:15px;
    }
}

@media only screen and (max-width:768px) { 
.p_drones { 
    margin-left:-105px;
    }
}

@media only screen and (max-width:480px) { 
.p_drones { 
    margin-left:-91px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones {
    margin-left:-75px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones { 
    margin-left:-88px;
    }
}

//p_drones1
.p_drones1 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones1 { 
    margin-left:70px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones1 { 
    margin-left:70px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones1 { 
    margin-left:70px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones1 { 
    margin-left:70px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones1 { 
    margin-left:70px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones1 { 
    margin-left:-43px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones1 { 
    margin-left:-36px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones1 { 
    margin-left:-54px;
    }

}

//p_drones2
.p_drones2 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones2 { 
    margin-left:150px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones2 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones2 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones2 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones2 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones2 { 
    margin-left:9px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones2 { 
    margin-left:20px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones2{ 
    margin-left:-1px;
    }
}


//p_drones3
.p_drones3 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones3 { 
    margin-left:20px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones3 { 
    margin-left:20px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones3 { 
    margin-left:20px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones3 { 
    margin-left:20px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones3 { 
    margin-left:20px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones3 { 
    margin-left:-67px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones3 { 
    margin-left:-71px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones3 { 
    margin-left:-83px;
    }
}

//p_drones4
.p_drones4 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones4 { 
    margin-left:70px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones4 { 
    padding-left: 70px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones4 { 
    margin-left:70px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones4 { 
    margin-left:70px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones4 { 
    margin-left:70px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones4 { 
    margin-left:-112px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones4 { 
    margin-left:-106px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones4 { 
    margin-left:-122px;
    }
}

//p_drones5
.p_drones5 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones5 { 
    margin-left:-120px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones5 { 
    padding-left: -120px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones5 { 
    margin-left:-120px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones5 { 
    margin-left:-120px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones5 { 
    margin-left:15px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones5{ 
    margin-left:-214px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones5 { 
    margin-left:-175px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones5 { 
    margin-left:-174px;
    }
}

//p_drones6
.p_drones6 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones6 { 
    margin-left:15px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones6 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones6 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones6 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones6 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones6 { 
    margin-left:-90px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones6 { 
    margin-left:-75px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones6 { 
    margin-left:-86px;
    }
}

//imag_drone_phantom
.img_drone_phantom { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.img_drone_phantom { 
    margin-left:-135px;
    }
}
@media only screen and (max-width: 1280px) { 
.img_drone_phantom { 
    margin-left:-135px;
    }
}
@media only screen and (max-width: 1224px) { 
.img_drone_phantom { 
    margin-left:-135px;
    }
}
@media only screen and (max-width: 1024px) { 
.img_drone_phantom { 
    margin-left:-135px;
    }
}
@media only screen and (max-width:768px) { 
.img_drone_phantom { 
    margin-left:-135px;
    }
}
@media only screen and (max-width:480px) { 
.img_drone_phantom { 
    margin-left:-15px;
    }
}
@media only screen and (max-width:360px) { 
.img_drone_phantom { 
    margin-left:0px;
    }
}
@media only screen and (max-width:320px) { 
.img_drone_phantom { 
    margin-left: 1px;
    }
}

//p_drones7
.p_drones7 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones7 { 
    margin-left:-240px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones7 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones7 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones7 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones7 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones7 { 
    margin-left:-135px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones7 { 
    margin-left:-101px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones7 { 
    margin-left:-120px;
    }
}

//p_drones8
.p_drones8 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones8 { 
    margin-left:-245px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones8 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones8 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones8 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones8 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones8 { 
    margin-left:-144px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones8 { 
    margin-left:-109px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones8 { 
    margin-left:-126px;
    }
}

//p_drones9
.p_drones9 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones9 { 
    margin-left:-125px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones9 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones9 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones9 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones9 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones9 { 
    margin-left:-34px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones9 { 
    margin-left:-21px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones9 { 
    margin-left:-48px;
    }
}

.p_drones10 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones10 { 
    margin-left:-80px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones10 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones10 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones10 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones10 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones10 { 
    margin-left:10px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones10 { 
    margin-left:16px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones10 { 
    margin-left:-19px;
    }
}

.p_drones11 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones11 { 
    margin-left:-30px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones11 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones11 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones11 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones11 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones11 { 
    margin-left:15px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones11 { 
    margin-left:21px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones11 { 
    margin-left:13px;
    }
}

//p_12
.p_drones12 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones12 { 
    margin-left:-290px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones12 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones12 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones12 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones12 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones12 { 
    margin-left:-143px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones12 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones12 { 
    margin-left:-150px;
    }
}

//p_13
.p_drones13 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones13 { 
    margin-left:-220px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones13 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones13 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones13 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones13 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones13 { 
    margin-left:-117px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones13 { 
    margin-left:-84px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones13 { 
    margin-left:-105px;
    }
}
//p_14
.p_drones14 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones14 { 
    margin-left:-330px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones14 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones14 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones14 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones14 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones14 { 
    margin-left:-214px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones14 { 
    margin-left:-163px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones14 { 
    margin-left:-174px;
    }
}

//p_15
.p_drones15 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones15 { 
    margin-left:-190px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones15 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones15 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones15 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones15 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones15 { 
    margin-left:-90px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones15 { 
    margin-left:-63px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones15 { 
    margin-left:-85px;
    }
}


//imag_drone_phantom
.img_drone_inspire { 
    padding-left: 240px;
    }
@media only screen and (max-width:  1824px) { 
.img_drone_inspire{ 
    padding-left: 240px;
    }
}
@media only screen and (max-width: 1280px) { 
.img_drone_inspire{ 
    padding-left: 240px;
    }
}
@media only screen and (max-width: 1224px) { 
.img_drone_inspire{ 
    padding-left: 240px;
    }
}
@media only screen and (max-width: 1024px) { 
.img_drone_inspire{ 
    padding-left: 240px;
    }
}
@media only screen and (max-width:768px) { 
.img_drone_inspire{ 
    padding-left: 240px;
    }
}
@media only screen and (max-width:480px) { 
.img_drone_inspire{ 
    padding-left: 240px;
    }
}
@media only screen and (max-width:360px) { 
.img_drone_inspire{ 
    padding-left: 5px;
    margin-top: 50px;
    }
}
@media only screen and (max-width:320px) { 
.img_drone_inspire{ 
    padding-left: 15px;
    }
}

//imag_drone_osmo
.img_drone_osmo { 
    margin-left: 5px;
    }
@media only screen and (max-width:  1824px) { 
.img_drone_osmo{ 
    margin-left: -50px;
    }
}
@media only screen and (max-width: 1280px) { 
.img_drone_osmo { 
    margin-left: 5px;
    }
}
@media only screen and (max-width: 1224px) { 
.img_drone_osmo { 
    margin-left: 5px;
    }
}
@media only screen and (max-width: 1024px) { 
.img_drone_osmo { 
    margin-left: 5px;
    }
}
@media only screen and (max-width:768px) { 
.img_drone_osmo { 
    margin-left: 5px;
    }
}
@media only screen and (max-width:480px) { 
.img_drone_osmo { 
    margin-left: 5px;
    }
}
@media only screen and (max-width:360px) { 
.img_drone_osmo { 
    margin-left: 5px;
    margin-top: -55px;
    }
}
@media only screen and (max-width:320px) { 
.img_drone_osmo { 
    margin-left: 8px;
    }
}

//p_16
.p_drones16 { 
    margin-left:-110px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones16 { 
    margin-left:-100px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones16 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones16 { 
    margin-left:-100px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones16 { 
    margin-left:-100px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones16 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones16 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones16 { 
    margin-left:-26px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones16 { 
    margin-left:-52px;
    }
}


//p_17
.p_drones17 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones17{ 
    margin-left:-60px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones17 { 
    margin-left:-60px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones17 { 
    margin-left:-60px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones17 { 
    margin-left:-60px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones17 { 
 margin-left:-60px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones17 { 
    margin-left:-60px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones17 { 
    margin-left:7px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones17 { 
    margin-left:-26px;
    }
}

//p_18
.p_drones18 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones18{ 
    margin-left:-185px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones18 { 
    margin-left:-185px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones18 { 
    margin-left:-185px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones18 { 
    margin-left:-185px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones18 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones18 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones18 { 
    margin-left:-84px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones18 { 
    margin-left:-105px;
    }
}
//p_19
.p_drones19 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones19{ 
    margin-left:-295px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones19 { 
    padding-left: -295px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones19 { 
    margin-left:-295px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones19 { 
    margin-left:-295px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones19 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones19 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones19 { 
    margin-left:-162px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones19 { 
    margin-left:-173px;
    }
}

//p_19
.p_drones20 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones20{ 
    margin-left:-155px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones20 { 
    margin-left:-155px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones20 { 
    margin-left:-155px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones20 { 
    margin-left:-155px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones20 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones20 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones20 { 
    margin-left:-62px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones20 { 
    margin-left:-85px;
    }
}

.p_drones21 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones21{ 
    margin-left:-310px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones21 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones21 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones21 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones21 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones21 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones21 { 
    margin-left:-195px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones21 { 
    margin-left:-170px;
    }
}

//p_22
.p_drones22 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones22{ 
    margin-left:-235px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones22 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones22 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones22 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones22 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones22 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones22 { 
    margin-left:-138px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones22 { 
    margin-left:-124px;
    }
}
//p_23
.p_drones23 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones23{ 
    margin-left:-140px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones23 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones23 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones23 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones23 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones23 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones23 { 
    margin-left:-68px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones23 { 
    margin-left:-63px;
    }
}

//24
.p_drones24 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones24{ 
    margin-left:-65px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones24 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones24 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones24 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones24 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones24 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones24 { 
    margin-left:-25px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones24 { 
    margin-left:-11px;
    }
}

//25
.p_drones25 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones25{ 
    margin-left:-20px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones25 { 
    padding-left: -20px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones25 { 
    margin-left:-20px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones25 { 
    margin-left:-20px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones25 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones25 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones25 { 
    margin-left:-12px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones25 { 
    margin-left:12px;
    }
}
//25
.p_drones26 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones26{ 
    margin-left:-90px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones26 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones26 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones26 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones26 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones26 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones26 { 
    margin-left:12px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones26 { 
    margin-left:-31px;
    }
}
//27
.p_drones27 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones27{ 
    margin-left:-225px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones27 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones27 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones27 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones27 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones27 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones27 { 
    margin-left:-128px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones27 { 
    margin-left:-114px;
    }
}
//28
.p_drones28 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones28{ 
    margin-left:-330px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones28 { 
    padding-left: -100px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones28 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones28 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones28 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones28 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones28 { 
    margin-left:-206px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones28 { 
    margin-left:-185px;
    }
}

.p_drones29 { 
    margin-left:-105px;
    }
@media only screen and (max-width:  1824px) { 
.p_drones29{ 
    margin-left:-195px;
    }
}
@media only screen and (max-width: 1280px) { 
.p_drones29 { 
    padding-left: -195px;
    }
}
@media only screen and (max-width: 1224px) { 
.p_drones29 { 
    margin-left:-190px;
    }
}
@media only screen and (max-width: 1024px) { 
.p_drones29 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:768px) { 
.p_drones29 { 
    margin-left:-190px;
    }
}
@media only screen and (max-width:480px) { 
.p_drones29 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:360px) { 
.p_drones29 { 
    margin-left:-105px;
    }
}
@media only screen and (max-width:320px) { 
.p_drones29 { 
    margin-left:-95px;
    }
}
//camara_hexacomptero
.camara_hexa { 
    margin-left:125px;
    }
@media only screen and (max-width:  1824px) { 
.camara_hexa { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1280px) { 
.camara_hexa { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1224px) { 
.camara_hexa { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1024px) { 
.camara_hexa { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:768px) { 
.camara_hexa { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:480px) { 
.camara_hexa { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:360px) { 
.camara_hexa { 
    margin-left:47px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:320px) { 
.camara_hexa { 
    margin-left:22px;
    margin-bottom: 20px;
    }
}
//camara_hexacomptero
.camara_x3 { 
    margin-left:125px;
    }
@media only screen and (max-width:  1824px) { 
.camara_x3 { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1280px) { 
.camara_x3 { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1224px) { 
.camara_x3 { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1024px) { 
.camara_x3 { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:768px) { 
.camara_x3 { 
    margin-left:145px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:480px) { 
.camara_x3 { 
    margin-left:27px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:360px) { 
.camara_x3 { 
    margin-left:34px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:320px) { 
.camara_x3 { 
    margin-left:19px;
    margin-bottom: 20px;
    }
}
//camara_hexacomptero
.camara_x32 { 
    margin-left:125px;
    }
@media only screen and (max-width:  1824px) { 
.camara_x32 { 
    margin-left:-275px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1280px) { 
.camara_x32 { 
    margin-left:-275px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1224px) { 
.camara_x32 { 
    margin-left:-275px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1024px) { 
.camara_x32 { 
    margin-left:-275px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:768px) { 
.camara_x32 { 
    margin-left:-275px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:480px) { 
.camara_x32 { 
    margin-left:-275px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:360px) { 
.camara_x32 { 
    margin-left:-35px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:320px) { 
.camara_x32 { 
    margin-left:-32px;
    margin-bottom: 20px;
    }
}

//gopro
.go_pro { 
    margin-left:105px;
    }
@media only screen and (max-width:  1824px) { 
.go_pro { 
    margin-top: 50px;
    margin-left:30px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1280px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width: 1224px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width: 1024px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width:768px) { 
.go_pro { 
    margin-left:125px;
    }
}
@media only screen and (max-width:480px) { 
.go_pro { 
    margin-left:-124px;
    }
}
@media only screen and (max-width:360px) { 
.go_pro { 
    margin-left:-43px;
    }
}
@media only screen and (max-width:320px) { 
.go_pro { 
    margin-left:-32px;
    text-align: center;
    margin-top: -20px;
    
    }
}

.text_phantom{
    padding-top: 25px;
}
@media only screen and (max-width:  1824px) { 
.text_phantom{
    margin-top:  -20px;
}
}
@media only screen and (max-width: 1280px) { 
.text_phantom{
    margin-top:  -65px;
}
}
@media only screen and (max-width: 1224px) { 
.text_phantom{
    margin-top:  -65px;
}
}
@media only screen and (max-width: 1024px) { 
.text_phantom{
    margin-top:  -65px;
}
}
@media only screen and (max-width:768px) { 
.text_phantom{
    margin-top:  -65px;
}
}
@media only screen and (max-width:480px) { 
.text_phantom{
    margin-top:  10px;
}
}
@media only screen and (max-width:360px) { 
.text_phantom{
    margin-top:  0px;
}
}
@media only screen and (max-width:320px) { 
.text_phantom{
    margin-top:  -15px;
}
}


.section_padding_5 { 
    padding-top: 140px;
    padding-bottom: 50px;
    display: block;
    }
    
.section_padding_6 { 
    padding-top: 50px;
    padding-bottom: 40px;
    display: block;
    }  
  
.section_padding_7 { 
    padding-top: 90px;
    padding-bottom: -100px;
    display: block;
    }
    
    

.text_hexa{
    padding-top: 25px;
}
@media only screen and (max-width:  1824px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 1280px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 1224px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 1024px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width:768px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width:480px) { 
.text_hexa{
    margin-top:  -20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width:360px) { 
.text_hexa{
    margin-top:  20px;
    margin-bottom: 30px;
}
}
@media only screen and (max-width:320px) { 
.text_hexa{
 
      margin-top:  -20px;
    margin-bottom: 30px;
}
}

.text_osmo{
    
    padding-top: 25px;
}
@media only screen and (max-width:  1824px) { 
.text_osmo{
    margin-top: -30px;
    margin-bottom: 60px;
}
}
@media only screen and (max-width: 1280px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width: 1224px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width: 1024px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width:768px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width:480px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width:360px) { 
.text_osmo{
    padding-top: 25px;
}
}
@media only screen and (max-width:320px) { 
.text_osmo{
    padding-top: 25px;
}
}

.image_drones{
    
    height: 300px;
}
@media only screen and (max-width:  1824px) { 
.image_drones{
    height: 300px;
   }
}
@media only screen and (max-width: 1280px) { 
.image_drones{
    height: 300px;
}
}
@media only screen and (max-width: 1224px) { 
.image_drones{
    height: 300px;
}
}
@media only screen and (max-width: 1024px) { 
.image_drones{
    height: 300px;
}
}
@media only screen and (max-width:768px) { 
.image_drones{
    height: 300px;
}
}
@media only screen and (max-width:480px) { 
.image_drones{
    height: 300px;
}
}
@media only screen and (max-width:360px) { 
.image_drones{
    height: 200px;
}
}
@media only screen and (max-width:320px) { 
.image_drones{
   height: 200px;
}
}